.sign_up {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.23);
  background: rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  width: 30vw;
  margin-bottom: 5rem;

  .input_fields {
    display: flex;
    flex-direction: column;
    width: 100%;

    .input_field {
      display: flex;
      flex-direction: column;
      width: 100%;

      .input_text {
        font-size: 30px;
        font-weight: 700;
        margin: 1rem 0;
      }

      .MuiOutlinedInput-root.input {
        background: #fff;
      }

      .MuiTextField-root.input .MuiOutlinedInput-root {
        background: #fff;
      }

      .MuiFormControl-root.select_dorm {
        background: #fff;
      }
    }
  }

  .submit {
    display: flex;
    justify-content: flex-end;
    margin-top: 4vh;
  }

  .buttons {
    display: flex;
    margin-top: 4vh;
    justify-content: space-between;

    .sign_in_btn.MuiButton-root {
      background-color: #be8939;

      &:hover {
        background-color: #e08d12;
      }
    }

    a {
      text-decoration: none;
    }

    span {
      font-family: 'Amatic SC', cursive;
      font-size: 25px;
      font-weight: 700;
    }
  }
}

