.wrapper {
  width: 100%;
  background-color: #e1ba7f;

  .header {
    width: 100%;
    background-color: #e1ba7f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;

    p {
      color: #ec5353;
      font-weight: bold;
      font-size: 80px;
      margin: 20px 0;
      width: 50%;
    }
  }

  .logo_icon {
    width: 150px;
    height: 150px;
  }

  .inner_wrapper {
    margin: 3vh 0;
    display: flex;
    justify-content: center;
  }
}
