.wrapper {
  width: 100%;

  .header {
    width: 100%;
    background-color: rgb(151, 194, 234);
    display: flex;
    justify-content: center;
    align-items: center;

    .logo_icon {
      position: absolute;
      left: 50px;
      fill: rgba(0, 0, 0, 0.8);

    }

    p {
      color: white;
      font-weight: bold;
      font-size: 44px;
      margin: 20px 0;
    }
  }

  .inner_wrapper {
    margin: 10vh 0;
    display: flex;
    justify-content: center;
  }
}
