.main-container-user {
  display: flex;
  padding: 30px;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;


  .back-img {
    width: 30px;
    height: 30px;
    margin-right: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  .image-and-rating {
    img {
      justify-content: flex-start;
      width: 300px;
      height: 300px;
    }

    .MuiBox-root.rating-box {
      display: flex;
      padding: 2px 0;
      align-items: center;
    }

    .rating {
      margin-right: 10px;
    }
  }

  .body {
    .content {
      border: 1px solid grey;
      margin-left: 5vw;
      text-align: left;
      width: 50vw;
      padding: 0 20px;

      p {
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif
      }
    }

    .button {
      display: flex;
      justify-content: flex-end;
      margin-top: 30px;

      .sign_in_btn.MuiButton-root {
        background-color: #be8939;
        border-radius: 0;

        &:hover {
          background-color: #e08d12;
        }
      }

      span {
        font-family: 'Amatic SC', cursive;
        font-size: 25px;
        font-weight: 700;
      }
    }
  }
}
