html {
  background-color: white;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: auto;
  width: 100vw;
  height: 100vh;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Amatic SC', cursive;
}
